# Python virtual environments
.venv/
.venv312/
**/.venv/
venv/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Project data folders (requested)
inputs/EL_PONTET/*
outputs/
grassdata/
Verificador/
inputs/INPUTS_EXPERIMENTS/*
inputs/DELIMITACIONS/*

# Local/editor/system files
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# Fitxers GIS
*.aux.xml