# Python virtual environments
.venv/
**/.venv/
venv/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Project data folders (requested)
outputs/
grassdata/

# Local/editor/system files
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# Fitxers GIS
*.aux.xml